---
import Layout from "../layouts/Layout.astro";
import RecoverPasswordForm from "../components/auth/RecoverPasswordForm";
---

<Layout title="Odzyskiwanie hasła - HealthyMeal">
  <main class="min-h-screen bg-gray-50 py-8">
    <div class="container mx-auto px-4 max-w-md">
      <div class="bg-white rounded-lg shadow-md p-6">
        <RecoverPasswordForm client:visible />
      </div>
    </div>
  </main>
</Layout>
